Adafruit-Blinka==8.69.0
Adafruit-Blinka-Raspberry-Pi5-Neopixel==1.0.0rc2
adafruit-circuitpython-bmp280==3.3.9
adafruit-circuitpython-busdevice==5.2.14
adafruit-circuitpython-connectionmanager==3.1.6
adafruit-circuitpython-register==1.11.1
adafruit-circuitpython-requests==4.1.15
adafruit-circuitpython-typing==1.12.3
Adafruit-PlatformDetect==3.86.0
Adafruit-PureIO==1.1.11
asgiref==3.11.0
binho-host-adapter==0.1.6
blinker==1.9.0
certifi==2025.11.12
cffi==2.0.0
charset-normalizer==3.4.4
click==8.3.1
cryptography==46.0.3
docopt==0.6.2
Flask==3.1.2
gunicorn==23.0.0
idna==3.11
itsdangerous==2.2.0
Jinja2==3.1.6
MarkupSafe==3.0.3
packaging==25.0
pillow==12.1.0
pipreqs==0.4.13
pycparser==2.23
pyftdi==0.57.1
pyOpenSSL==25.3.0
pyotp==2.9.0
pyserial==3.5
python-dotenv==1.2.1
pyusb==1.3.1
qrcode==8.2
redis==7.1.0
requests==2.32.5
RPi.GPIO==0.7.1
rpi_ws281x==5.0.0
setuptools==80.9.0
simplejson==3.20.2
sysv_ipc==1.1.0
typing_extensions==4.15.0
urllib3==2.6.2
watchdog==6.0.0
Werkzeug==3.1.4
wheel==0.45.1
yarg==0.1.10
